	<div id="header">

        <div id="header_div">

            <span id="header_span_1">
            <!-- end #header_span_1 --></span>

            <span id="header_span_2">
            <!-- end #header_span_2 --></span>

            <span id="header_span_3">
            <!-- end #header_span_3 --></span>

            <span id="header_span_4">
            <!-- end #header_span_4 --></span>

            <span id="header_span_5">
            <!-- end #header_span_5 --></span>

		<!-- end #header_div --></div>

	<!-- end #header --></div>

	<div id="navigation">

        <div id="navigation_div">

            <span id="navigation_span_1">
            <!-- end #navigation_span_1 --></span>

            <span id="navigation_span_2">
            <!-- end #navigation_span_2 --></span>

		<!-- end #navigation_div --></div>

	<!-- end #navigation --></div>

	<div id="content_1">

        <div id="content_1_div">

            <span id="content_1_span_1">
            <!-- end #content_1_span_1 --></span>

            <span id="content_1_span_2">
            <!-- end #content_1_span_2 --></span>

            <span id="content_1_span_3">
            <!-- end #content_1_span_3 --></span>

            <span id="content_1_span_4">
            <!-- end #content_1_span_4 --></span>

            <span id="content_1_span_5">
            <!-- end #content_1_span_5 --></span>

		<!-- end #content_1_div --></div>

	<!-- end #content_1 --></div>

	<div id="slide_shadow">

        <div id="slide_shadow_div">

            <span id="slide_shadow_span_1">
            <!-- end #slide_shadow_span_1 --></span>

            <span id="slide_shadow_span_2">
            <!-- end #slide_shadow_span_2 --></span>

            <span id="slide_shadow_span_3">
            <!-- end #slide_shadow_span_3 --></span>

            <span id="slide_shadow_span_4">
            <!-- end #slide_shadow_span_4 --></span>

            <span id="slide_shadow_span_5">
            <!-- end #slide_shadow_span_5 --></span>

		<!-- end #slide_shadow_div --></div>

	<!-- end #slide_shadow --></div>

	<div id="content_2">

        <div id="content_2_div">

            <span id="content_2_span_1">
            <!-- end #content_2_span_1 --></span>

            <span id="content_2_span_2">
            <!-- end #content_2_span_2 --></span>

            <span id="content_2_span_3">

                <div id="content_2_span_3_div1">
                <!-- end #content_2_span_3_div1 --></div>

                <div id="content_2_span_3_div2">

                    <div id="content_2_span_3_black">

                        <div id="content_2_span_3_grey">Let me introduce myself…
                        <!-- end #content_2_span_3_grey --></div>

                    <!-- end #content_2_span_3_black --></div>

                        <div id="content_2_span_3_first">

                        	<p>
	                            My name is Niyi Charles.
                            </p>

                        	<p>
	                            Before the summer of 2009. I will be willing to argue that my
                                life was a piece of mess mashed together or more like a
                                disaster going somewhere to happen fast. Then something
                                happened. I had an epiphany that rocked my world—a
                                paradigm shift if you will.
                            </p>

                        	<p>
	                            All of a sudden...
                            </p>

                        	<p class="note">
	                            The fearful became fearless.<br />
                                The weak became strong.<br />
                                The follower became the leader.<br />
                                The fool became the wise.<br />
                            </p>

                        	<p>
								This radical transformation, I have to say took place after over
                                two decades of being manipulated, used, rejected and after I
                                have made a million and one mistakes that cost me millions in
                                cash and almost ruined my life.
                            </p>

                        	<p>
								I wonder why it took me that long to unravel the secret of life
                                and using the words of King Solomon, "…and the way our
                                world works." (Ecclesiastes 9:13NLT).
                            </p>

                        	<p>
								My conclusion is that life's issues are like a jigsaw puzzle that
                                we all need to fix. Not fixing it makes us live life bowed,
                                humiliated, used, rejected and prone to abuse by men. I also
                                believe I went through all those pain and anguish so I can
                                have something to share with my world and help so many
                                people avoid such a depressing life; after all, the best
                                medicine is the one you took yourself.
                            </p>

                        	<p>
								My mess has become my message.
                            </p>

                        	<p>
								I see millions of people go through life and never discover the
                                secret of fixing this puzzle and therefore go through life never
                                enjoying the best that life has to offer, they rather go through
                                life as a slave.
                            </p>

                        	<p>
								It breaks my heart when I see this and I want to do something about it.
                            </p>

                        	<p class="note">
								I will use the remaining part of my life sharing these secrets with people
                                around me. I will live and die for it.
                            </p>

                        	<p>
								If you are tired of being tired and you want to be in the class of the
                                powerful and leave the class of the servant, the manipulated, the
                                used and the weak.
                            </p>

                        	<p>
								Sign up now and learn the lessons I have learnt from the mistakes I
                                have made in life-- in business, in school, in relationship, in finances;
                                and the big secrets I finally discovered in the summer of 2009 in the
                                windy city of Chicago. The secrets that will put you in the exclusive
                                club of the powerful.
                            </p>

                        	<p>
								Your life will be transformed if you are willing to learn and do what
                                needs to be done. I promise.
                            </p>

                        	<p>
								Please don't sign up if you want someone to lie to you or manipulate
                                you. Don't sign up if you are looking for get rich and powerful quick
                                scheme or if you are not a doer but a talker or hearer only. Don't
                                sign up if you think your power is in my hands or someone's hands—it
                                is in your hands for your information.
                            </p>

                        	<p>
								When the list gets too much for me to manage. I will lock this page
                                forever.
                            </p>

                        <!-- end #content_2_span_3_first --></div>

                        <br />

                        <div id="content_2_span_3_grey2">

                            <div id="content_2_span_3_gap">
                            <!-- end #content_2_span_3_gap --></div>

                            <div id="content_2_span_3_grey1">

                                <div id="content_2_span_3_gap2">
                                <!-- end #content_2_span_3_gap2 --></div>

                                Get on my VIP email list now for a chance to meet me and learn from my
                                experience and access the secrets.

                            <!-- end #content_2_span_3_grey1 --></div>

                        <!-- end #content_2_span_3_grey2 --></div>

                <!-- end #content_2_span_3_div2 --></div>

            <!-- end #content_2_span_3 --></span>

            <span id="content_2_span_4">
            <!-- end #content_2_span_4 --></span>

		<!-- end #content_2_div --></div>

	<!-- end #content_2 --></div>

	<br />

	<div id="new_share">

	    <div id="new_share_dim">

            <div id="new_share_right">

            	<a href="http://www.facebook.com/sharer.php?u=www.niyicharles.com/&t=Power+to+the+People" target="_blank">
                    <span id="facebook_share">
                    <!-- end #facebook_share --></span>
                 </a>

                <span id="facebook_counter">

                    <div class="facebook_counter_gap">
                    <!-- end .facebook_counter_gap --></div>

                    <div id="facebook_counter_holder">

                        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.niyicharles.com&amp;layout=box_count&amp;show_faces=false&amp;width=450&amp;action=like&amp;font=verdana&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:65px;" allowTransparency="true">
                        </iframe>

                    <!-- end #facebook_counter_holder --></div>

                <!-- end #facebook_counter --></span>

            	<a href="http://twitter.com/share?_=1299402583751&count=vertical&text=Welcome%20To%20Niyi%20Charles%20Personal%20Website&url=http://www.niyicharles.com/&via=niyicharles" target="_blank">
                    <span id="twitter_share">
                    <!-- end #twitter_share --></span>
                 </a>

                <span id="twitter_counter">

                    <div class="facebook_counter_gap">
                    <!-- end .facebook_counter_gap --></div>

					<a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="niyicharles">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

                <!-- end #twitter_counter --></span>

            <!-- end #new_share_right --></div>

		<!-- end #new_share_dim --></div>

	<!-- end #new_share --></div>

	<div id="share">

        <div id="share_div">

            <span id="share_span_1">
            <!-- end #share_span_1 --></span>

            <span id="share_span_2">
            <!-- end #share_span_2 --></span>

            <span id="share_span_3">
            <!-- end #share_span_3 --></span>

            <span id="share_span_4">
            <!-- end #share_span_4 --></span>

            <span id="share_span_5_left_space">
            <!-- end #share_span_5_left_space --></span>

            <span id="share_span_5">

            <div id="form_holder">

            <!-- AWeber Web Form Generator 3.0 -->
            <form method="post" class="af-form-wrapper" action="http://www.aweber.com/scripts/addlead.pl"  >
            <div style="display: none;">
            <input type="hidden" name="meta_web_form_id" value="639605452" />
            <input type="hidden" name="meta_split_id" value="" />
            <input type="hidden" name="listname" value="niyi_charles" />
            <input type="hidden" name="redirect" value="http://www.aweber.com/thankyou-coi.htm?m=text" id="redirect_f195678bcaea9f0bb941118b895aef67" />

            <input type="hidden" name="meta_adtracking" value="My_Web_Form" />
            <input type="hidden" name="meta_message" value="1" />
            <input type="hidden" name="meta_required" value="name,email" />

            <input type="hidden" name="meta_tooltip" value="" />
            </div>
            <div id="af-form-639605452" class="af-form">
            <div id="af-body-639605452" class="af-body af-standards">
            <div class="af-element">
            <label class="previewLabel" for="awf_field-17606773">Name: </label>
            <div class="af-textWrap">
            <input id="awf_field-17606773" type="text" name="name" class="text" value=""  tabindex="500" />
            </div><br />
            <div class="af-clear"></div></div>
            <div class="af-element">
            <label class="previewLabel" for="awf_field-17606774">Email: </label>
            <div class="af-textWrap"><input class="text" id="awf_field-17606774" type="text" name="email" value="" tabindex="501"  />
            </div><br />
            <div class="af-clear"></div>
            </div>
            <div class="af-element buttonContainer">
            <input name="submit" class="submit" type="image" value="Submit" src="images/submit_button.jpg" width="184" height="34" tabindex="502" />
            <div class="af-clear"></div>
            </div>
            </div>
            </div>
            </form>

            <!-- /AWeber Web Form Generator 3.0 -->

            <!-- end .form_holder --></div>


            <!-- end #share_span_5 --></span>

		<!-- end #share_div --></div>

	<!-- end #share --></div>

	<div id="buildings">

      <div id="buildings_div">

            <span id="buildings_span_1">
            <!-- end #buildings_span_1 --></span>

            <span id="buildings_span_2">
            <!-- end #buildings_span_2 --></span>

		<!-- end #buildings_div --></div>

	<!-- end #buildings --></div>

	<div id="footer">

        <div id="footer_div">www.niyicharles.com © 1122 E.82nd Street| Brooklyn| NY| 11236.

        <a title="Privacy Policy" href="http://www.aweber.com/permission.htm" target="_blank">We respect your email privacy</a>

		Powered by <a title="AWeber email marketing" href="http://www.aweber.com/" target="_blank">AWeber email marketing</a>

		<!-- end #footer_div --></div>

	<!-- end #footer --></div>

